\documentclass[12pt]{article}%文字大小：小四号，12pt

\usepackage[UTF8]{ctex}

%页面布局
\usepackage{geometry}
\geometry{papersize={21cm,29.7cm}}%纸张大小
\geometry{left=2.54cm,right=2.54cm,top=3.18cm,bottom=3.18cm}% 页边距

%页眉页脚
\usepackage{fancyhdr}
\usepackage{lastpage}
\usepackage{color}
\pagestyle{fancy}
% 页眉设置
%\fancyhead[L]{左页眉}
\fancyhead[R]{\footnotesize{NST-04-JS005-$!{testYear}}}
%\fancyhead[C]{中间页眉}
\renewcommand{\headrulewidth}{0.5pt} % 分隔线宽度0.5磅
% 页脚设置
\fancyfoot[C]{\footnotesize{第\ \thepage\ 页\hspace{1em}共\ \pageref{LastPage}\ 页}} % 页码
\renewcommand{\footrulewidth}{0.5pt} % 分隔线宽度0.5磅

%\renewcommand{\footrulewidth}{4pt}
%\lfoot{}
%\cfoot{\thepage}
%\rfoot{}
%\renewcommand{\headrulewidth}{0.4pt}
%\renewcommand{\headwidth}{\textwidth}
%\renewcommand{\footrulewidth}{0pt}

%首行缩进
\usepackage{indentfirst}
\setlength{\parindent}{2em}%首行缩进长度

%行间距
\usepackage{setspace}
\linespread{1.6}%1.5倍行间距
%\addtolength{\parskip}{.4em}段间距

%下划线
\usepackage{ulem}
\usepackage{CJKulem}

%层级标题
\usepackage{enumerate}
\usepackage{enumitem}
\AddEnumerateCounter{\chinese}{\chinese}{}
\setitemize{itemsep=2pt,partopsep=0pt,parsep=0pt,topsep=0pt}

%表格合并行列
\usepackage{multirow}

\begin{document}
\setcounter{page}{1}

\begin{center}
\textbf{\large{软件项目委托测试保密协议}}
\end{center}
\vspace{0.6cm}
\par
委托方\uline{$!{partyAName}}（以下简称“甲方”）与\uline{$!{partyBName}}（简称“乙方”）在签订《\uline{$!{projectName}}软件项目委托测试》委托合同的前提下，为保证双方的合法权利，经协双方达成如下保密协议：
\par
1、甲方不得向第三方透露在合作期间获得和知晓的乙方（包括其分支机构）的商业秘密和其他有关的保密信息。商业秘密包括技术秘密和经营秘密，其中技术秘密包括计算机软件、数据库、技术报告、测试报告、检测报告、实验数据、测试结果、操作手册、技术文档、相关的函电等。经营秘密包括但不限于双方洽谈的情况、签署的任何文件，包括合同、协议、备忘录等文件中所包含的一切信息、定价政策、设备资源、人力资源信息等。
\par
2、乙方负有对甲方委托测试的软件保密的责任，保密内容包括：软件产品代码、软件可执行程序、测试报告、测试结果、操作手册、技术文档、用户手册等。
\par
3、未经对方书面同意，任何一方不得在双方合作目的之外使用或向第三方透露对方的任何商业秘密，不管这些商业秘密是口头的或是书面的，还是以磁盘、胶片或电子邮件等形式存在的。
\par
4、在对方公司内活动时，应尊重对方有关保密的管理规定，听从接待人员的安排和引导。未经允许不得进入对方中心、办公室内受控的工作环境，与对方技术人员进行的交流，仅限于合作项目有关的内容。
\par
5、如果一方违反上述条款，另一方有权根据违反的程度以及造成的损害采取以下措施：
\begin{itemize}
\item[] （1）终止双方的合作；
\item[] （2）要求赔偿因失密造成的损失。
\item[] 在采取上述措施之前，一方将给予违约的另一方合理的在先通知。
\end{itemize}
\par
6、负有保密义务的双方，如果涉密人因本方无法控制的原因（如擅自离职）造成由涉密人有意泄密，其相应的民事和法律责任由当事人承担。
\par
7、与本协议有关的任何争议，双方应通过友好协商解决。如协商不成，任何一方可将此争议提交南京市仲裁委员会进行仲裁。仲裁裁决是终局的，对双方均有约束力。
\par
8、本协议作为委托测试合同的附件，一式两份，双方各执一份，与合同具有同等法律效力。
\par
本协议自双方授权代表签字盖章之日起生效，但有效期不限于合同有效期。
\vspace{6cm}
\begin{center}
\renewcommand{\arraystretch}{2}
\begin{tabular}{p{8cm}p{8cm}}
甲方：（公章） &乙方：（公章）\\
~ &~\\
~ &~\\
法人代表： &法人代表：\\
~ &~\\
~ &~\\
~ &~\\
\hspace*{4em}年\hspace*{2em}月\hspace*{2em}日 &\hspace*{4em}年\hspace*{2em}月\hspace*{2em}日
\end{tabular}
\end{center}
\end{document}